---
import { skills } from "resume_en.json"
import AlpineJS from "@/icons/AlpineJS.astro"
import CSS from "@/icons/CSS.astro"
import Git from "@/icons/Git.astro"
import GitHub from "@/icons/GitHub.astro"
import HTML from "@/icons/HTML.astro"
import JavaScript from "@/icons/JavaScript.astro"
import Laravel from "@/icons/Laravel.astro"
import Livewire from "@/icons/Livewire.astro"
import MySQL from "@/icons/MySQL.astro"
import Node from "@/icons/Node.astro"
import PHP from "@/icons/PHP.astro"
import React from "@/icons/React.astro"
import Section from "../Section.astro"
import Swift from "@/icons/Swift.astro"
import Tailwind from "@/icons/Tailwind.astro"
import TypeScript from "@/icons/TypeScript.astro"

const SKILLS_ICONS: Record<string, any> = {
  AlpineJS,
  CSS,
  Git,
  GitHub,
  HTML,
  JavaScript,
  Laravel,
  Livewire,
  MySQL,
  Node,
  PHP,
  React,
  Swift,
  Tailwind,
  TypeScript
}
---

<Section title="Skills">
  <ul>
    {
      skills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name
        const Icon = SKILLS_ICONS[iconName]

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border: 1px solid #eee;
    border-radius: 6px;
    color: #555;
    display: flex;
    font-size: 0.9rem;
    gap: 2px;
    padding: 0.2rem 0.6rem;
  }

  li:hover {
    border: 1px solid #000;
    color: #000;
    cursor: default;
  }
</style>
